<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
    <description>Spring configuration file</description>
    <import resource="springmvc-config.xml"/>
    <!--    读取jdbc.properties中的数据库配置信息-->
    <context:property-placeholder location="classpath:database-conf/jdbc.properties"/>
    <!--    开启Spring IOC注解扫描器：扫描Service层-->
    <context:component-scan base-package="syh.service"/>
    <!--    配置数据源-->
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <!--        数据库驱动-->
        <property name="driverClassName" value="${driverClassName}"/>
        <!--        连接数据库Url-->
        <property name="url" value="${url}"/>
        <!--        连接数据库的用户名-->
        <property name="username" value="${jdbc-user}"/>
        <!--        连接数据库的密码-->
        <property name="password" value="${password}"/>

    </bean>
    <!--    配置Spring事务管理器-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <!--        原理：控制数据源-->
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <!--    开启事务注解扫描-->
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <!--    Mybatis与Spring整合-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--        注入数据源-->
        <property name="dataSource" ref="dataSource"/>
        <!--        指定Mapper映射文件位置-->
        <property name="mapperLocations"  value="classpath:mapper/*.xml"/>
        <!--    指定Mybatis核心配置文件位置-->
        <property name="configLocation" value="classpath:mybatis-conf/mybatis-config.xml"/>

    </bean>

    <!--    开启Mapper接口扫描器：扫描dao层-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage"   value="syh.dao"/>

    </bean>



</beans>